<div class="clearfix">
  <h1 class="pull-left">Stock</h1>

  <a href="<%= new_article_path %>" class="pull-right btn btn-default hidden-xs">
    <span class="glyphicon glyphicon-plus"></span> Add Item
  </a>
</div>


<table class="table margin-top-2">
  <thead>
  <th>Name</th>
  <th class="text-right">Stock</th>
  <th class="text-right">Price</th>
  <th class="text-right">Package Size</th>
  <th>Stock change <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Enter a number and press 'Units' to add the given amount to the stock. You can choose 'Packages' to add the given amount of packages (look for the column 'Package Size'). Entering a negative amount subtracts the given amount."></span></th>
  <th>Manage</th>
  </thead>

  <tbody>

  <% @articles.each do |article| %>
      <tr class="<%= row_stock_class(article) %>">
        <td><%= article.name %></td>
        <td class="text-right"><%= if article.stock.nil? then 0 else article.stock end %></td>
        <td class="text-right"><%= number_to_currency(article.price, unit: "€", format: "%n %u") %></td>
        <td class="text-right"><%= article.package_size %></td>
        <td>
          <%= form_for article, url: update_article_stock_path(article), html: {class: "form-horizontal"}, method: "post" do |f| %>
              <input name="stock" type="number" value="1" />
              <button name="stock_type" value="units" class="btn btn-default">Units</button>
              <button name="stock_type" value="packages" class="btn btn-default">Packages</button>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
          <%= link_to "Delete", article_path(article), method: :delete,
                      data: {confirm: "Do you really want to delete the article? "}, class: "btn btn-danger" %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>