<!DOCTYPE html>
<html>
<head>
  <title>CashRegister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">

  <div class="main-content-box">
    <%= image_tag "header.png", class: "img-responsive" %>



    <div role="tabpanel">

      <%= render "layouts/flash" %>

      <!-- Nav tabs -->
      <ul id="navigation" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= 'active' if articles_controller? %>"><a href="<%= articles_path %>">Stock</a></li>
        <li role="presentation" class="<%= 'active' if reports_controller? %>"><a href="<%= reports_path %>">Report</a></li>
        <li role="presentation" class="<%= 'active' if settings_controller? %>"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>

        <li role="presentation" class="pull-right">
          <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= yield %>
      </div>
    </div>
  </div>

</div>


</body>
</html>
