<!DOCTYPE html>
<html>
<head>
  <title>CashRegister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag "header.png", class: "header" %>

<div class="container main-content-box login">

  <%= render "layouts/flash" %>

  <%= yield %>

</div>

</body>
</html>
